@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#RestaurantList">

    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("AutoComplete")" />

    <input type="submit" value="Search by Name" />


</form>
@*@using (Ajax.BeginForm(

        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace ,
            UpdateTargetId = "RestaurantList"
        }
    ))
{
     <input type="search" name="searchTerm" />

    <input type="submit" value="Search by Name" />
}*@

@{
    var amount = 100.00m;
    var date = new DateTime(2002, 10, 11);  
}

<div>

    
</div>
<div>
    @amount.ToString("c")
</div>

<div>

    @date.ToShortDateString()
</div>

@Html.Partial("_Restaurant",Model)
